<div class="col-md-4">
    <div class="card h-100 border-0 shadow-sm">
        <div class="card-body text-center">
            <div class="feature-icon bg-{{ feature.color }} text-white rounded-circle mx-auto mb-3 d-flex align-items-center justify-content-center">
                <i class="bi {{ feature.icon }} fs-4"></i>
            </div>
            <h5 class="card-title">{{ feature.title }}</h5>
            <p class="card-text text-muted">{{ feature.description }}</p>
        </div>
    </div>
</div>