{% extends 'base.html.twig' %}

{% block title %}{{"Admin - "~script~" logs"}} {% endblock %}

{% block body %}
    <h1>{{script ~" script logs"}}</h1>
    {{ component('table', {headers: tableColumns, rows: logs, addPaginationRender: addPaginationRender, exporterPath: exporterPath}) }}
{% endblock %}