{% extends 'base.html.twig' %}

{% block title %}{{"Expansion list - "~originalcard.name}} {% endblock %}

{% block body %}
    <h1>{{originalcard.name}}</h1>    
    {{ component('list', {data: list}) }}
{% endblock %}