/*nav bar*/
.navbar.sticky-top {
    z-index: 1030;
}

@media (min-width: 992px) {
    .navbar-search-input {
        min-width: 200px !important;
    }
}


.img-max-250 {
    max-width: 250px;
}

#logo-navbar {
    max-width: 37px;
    max-height: 37px;
}

.rounded-10 {
    border-radius: 10px !important;
}

ul.pagination {
    margin-top: 1rem;
}

.expansion-icon {
    width: 32px;
    height: 32px;
}

/* icones theme sombre */
[data-bs-theme="dark"] .expansion-icon {
    filter: invert(1);
}

/* Fix z-index for sticky table headers */
.table thead.sticky-top {
    z-index: 10;
}

/* Art Series filter positioning */
@media (min-width: 768px) {
    .filter-art-series {
        margin-left: auto;
    }
}