/*nav bar*/
@media (min-width: 992px) {
    .navbar-search-input {
        min-width: 200px !important;
    }
}


.img-max-250 {
    max-width: 250px;
}

#logo-navbar {
    max-width: 37px;
    max-height: 37px;
}

.rounded-10 {
    border-radius: 10px !important;
}

ul.pagination {
    margin-top: 1rem;
}

.expansion-icon {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

/* icones theme sombre */
[data-bs-theme="dark"] .expansion-icon {
    filter: invert(1);
}