.img-max-250 {
    max-width: 250px;
}

#logo-navbar {
    max-width: 37px;
    max-height: 37px;
}

.rounded-10 {
    border-radius: 10px !important;
}

ul.pagination {
    margin-top: 1rem;
}

.expansion-icon {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

/* Ou avec Bootstrap dark mode */
[data-bs-theme="dark"] .expansion-icon {
    filter: invert(1);
}