{% extends 'base.html.twig' %}

{% block title %}Expansion List{% endblock %}

{% block body %}
    <h1>Expansions List</h1>
    <ul>
    {% for expansion in expansions %}
        <li>
            <a href="{{ path('expansion.cardlist', {id: expansion.id })}}">{{ expansion.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}