{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome MKM.py front</h1>
    <p>Projet Symphony pour créer un front à la base de données générée par mkm.py</p>
    <p>Liens des projets :</p>
    <ul>
        <li><a href="https://github.com/gschmirgal/frontMkmPy">frontMkmPy</a> : le front Symphony</li>
        <li><a href="https://github.com/gschmirgal/mkmpy">mkm.py</a> : le script Python qui génère la base de données</li>
    </ul>
{% endblock %}