{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome MKM.py front</h1>
    <p>Projet Symfony pour créer un front à la base de données générée par mkm.py</p>
    <p>Liens des projets :</p>
    <ul>
        <li><a href="https://github.com/gschmirgal/frontMkmPy" target="_blank">frontMkmPy</a> : le front Symfony</li>
        <li><a href="https://github.com/gschmirgal/mkmpy" target="_blank">mkm.py</a> : le script Python qui génère la base de données</li>
    </ul>

    <p>Liens personnels:</p>
    <ul>
        <li><a href="https://gschmirgal.ovh" target="_blank">Portfolio</a></li>
        <li><a href="https://www.linkedin.com/in/schmirgal" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/gschmirgal" target="_blank">GitHub</a></li>
    </ul>
{% endblock %}