{% extends 'base.html.twig' %}

{% block title %}{{"Search for: "~search}}{% endblock %}

{% block body %}
    <h1>Recherche</h1>
    <p>{{ (cardsList|length + expansionsList|length - 4) ~ " match(s) for: \""~search~"\""}}</p>
    
    <div class="row">
        <div class="col">
            {{ component('list', {data: expansionsList}) }}
        </div>
        <div class="col">
            {{ component('list', {data: cardsList}) }}
        </div>
  </div>
{% endblock %}