{% extends 'base.html.twig' %}

{% block title %}{{"Cards list - "~expansion.name}} {% endblock %}

{% block body %}
    <h1>{{expansion.name}}</h1>

    
    {{ component('list', {data: cards}) }}
{% endblock %}