{% extends 'base.html.twig' %}

{% block title %}{{ 'app.expansion.list_title'|trans }} - {{ 'app.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'app.expansion.list_title'|trans }}</h1>
    {{ component('list', {data: expansions}) }}
{% endblock %}